<br>
<br>
<br>
<br>
<h1>Create new Offer</h1>
<%= simple_form_for [@art, @booking] do |f| %>
  <%= f.input :value %>
  <%= f.input :rent_type %>
  <%= f.input :starts_at %>
  <%= f.input :starts_at, as: :date, html5: true %>
  <%= f.input :ends_at, as: :date, html5: true %>
  <%= f.input :shipping_address %>
  <%= f.submit %>
<% end %>
