<h1>Bookings/show</h1>
<div>
  <div class="container py-4 mt-xxl-2">
    <div class="row align-items-md-stretch mt-md-5">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-4">
        <div class="card shadow bg-opacity-10 bg-light rounded-4 p-xxl-5 ">
          <img class="p-1 rounded-4 card-img-top shadow bg-opacity-10 bg-dark rounded" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%;  ;" src="<%= @art.picture %>" data-holder-rendered="true">
          <p class="p-3 rounded-4 card-img-top shadow bg-opacity-10 bg-dark rounded fw-bold">DESCRIPTION: <%= @art.description %></p>
          <p class="p-3 rounded-4 card-img-top shadow bg-opacity-10 bg-dark rounded fw-bold">CATEGORY: <%= @art.category %></p>
          <p class="p-3 rounded-4 card-img-top shadow bg-opacity-10 bg-dark rounded fw-bold">YEAR: <%= @art.year %></p>
          <p class="p-3 rounded-4 card-img-top shadow bg-opacity-10 bg-dark rounded fw-bold">ARTIST: <%= @art.artist %></p>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-4">
      <div style="width: 100%; height: 600px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
  </div>
</div>