
<!-- app/views/articles/index.html.erb -->
<%# <%= cl_image_tag("j2ipthrqmzfgpvjewsof",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("jrxzjrdyolgvhwtfin33",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<section class="jumbotron text-center">
  <div class="container">
    <br>
    <p class="lead text-muted">Pieces of Art available to rent</p>
  </div>
</section>

<div class="row">
  <% @arts.each do |art| %>
    <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block ;" src="<%= art.picture %>" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"><%= art.description %></p>
        <p class="card-artist"><%= art.artist %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to "View", art_path(art.id), class: "btn btn-primary" %>
            <%= link_to "View", new_art_booking_path(art.id), class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%end %>
</div>
