<h1>arts-index</h1>


<div class="album py-5">
    <div class="container">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">ARTsome Collection</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <%= button_to "Add new Art", new_art_path, :class => "btn btn-sm btn-outline-secondary", :method => :get %>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Select Category</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Watercolor Art</a></li>
                <li><a class="dropdown-item" href="#">Oil Paintings</a></li>
                <li><a class="dropdown-item" href="#">Acrylic Paintings</a></li>
                <li><a class="dropdown-item" href="#">Photography</a></li>
                <li><a class="dropdown-item" href="#">Digital Art</a></li>
                <li><a class="dropdown-item" href="#">Street Art</a></li>
                <li><a class="dropdown-item" href="#">Sculpture</a></li>
                <li><a class="dropdown-item" href="#">Sculpture</a></li>
                <li><a class="dropdown-item" href="#">Sculpture</a></li>
                <li><a class="dropdown-item" href="#">Sculpture</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @arts.each do |art| %>
        <div class="col">
          <div class="card shadow-sm">
            <img src="<%= art.picture%>" class="card-img-top" alt="...">

            <div class="card-body">
              <h5 class="card-title"><%= art.title %></h5>
              <p class="card-text"><%= art.description %></p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Categrory: </strong><%= art.category %></li>
              <li class="list-group-item"><strong>Artist: </strong><%= art.artist %></li>
              <li class="list-group-item"><strong>Year: </strong><%= art.year %></li>
              <li class="list-group-item"><strong>Location: </strong><%= art.current_location %></li>
              <li class="list-group-item"><strong>Location: </strong><%= art.price %></li>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
