<div class="container">
  <div class="modal-content rounded-4 shadow">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-content rounded-4 shadow">
        <%# <div class="wrapper"> %>
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1>Create new Arts</h1>
            <%= simple_form_for @art do |f| %>
          </div>
          <div class="modal-body p-5 pt-0">
            <div class="row g-3">
              <div class="col-sm-6">
                <%= f.input :title %>
              </div>
              <div class="col-sm-6">
                <%= f.input :artist %>
              </div>
                <%= f.input :description %>
                <%= f.input :current_location %>
              <div class="col-sm-6">
                <%= f.input :year, placeholder: "2022", input_html: { maxlength: 4 } %>
              </div>
              <div class="col-sm-6">
                <%= f.input :category, collection: [ 'Watercolor Art', 'Oil Paintings', 'Acrylic Paintings', 'Photography', 'Digital Art', 'Street Art', 'Sculpture', 'Mosaic Art', 'Collage Art', 'Mixed Media Art' ], :prompt => 'Select Category' %>
              </div>
              <div class="col-sm-6">
                <%= f.input :price, placeholder: "€" %>
              </div>
              <div class="col-sm-6">
                <%= f.input :photo, as: :file, input_html: { multiple: true } %>
              </div>
                <%= f.submit %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
