<div class="container-fluid">
  <div class="position-relative overflow-hidden bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
          style="
          background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @art.photo.key, height: 1000, crop: :fill %>);
          height: 700px;
          background-size: cover;
          background-repeat: no-repeat;">


      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-4 fw-bold"><%= @art.title %></h1>
        <br>
        <p class="lead fw-normal"><%= @art.artist %></p>
        <br>
        <p class="lead fw-normal"><%= @art.year %></p>
      </div>
  </div>
  <div class="position-relative overflow-hidden p-5 p-md-5 m-md-5 text-center bg-light">
    <div class="col-md-auto p-lg-auto mx-auto my-auto">
      <p class="display-4 fw-normal"><%= @art.description%></p>
      <p class="lead fw-normal"><%= @art.category %></p>
      <p class="lead fw-normal">Current Location: <%= @art.current_location %></p>
      <p class="lead fw-normal">€ <%= @art.price.to_i %>/day</p>
      <a class="btn btn-outline-secondary" <%= link_to "Book Now", new_art_booking_path(@art)%></a>
    </div>
  </div>


  <div class="position-relative overflow-hidden p-5 p-md-5 m-md-5 text-justify bg-light">
    <div class="col-md-auto p-lg-auto mx-auto my-auto">
      <div class="display-7 fw-normal">
        <h3>Reviews</h3>
          <div class="list-group">
            <% @art.reviews.each do |review| %>
              <li class="list-group-item">
                <small>
                  <% count = 0 %>
                  <% 5.times do %>
                    <% if review.rating > count %>
                      <i class="fa-solid fa-star"></i>
                    <% else %>
                      <i class="fa-regular fa-star"></i>
                    <% end %>
                    <% count += 1 %>
                  <% end %>
                </small>
                <p><%= review.comment %></p>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative overflow-hidden p-5 p-md-5 m-md-5 text-justify bg-light">
      <div class="col-md-auto p-lg-auto mx-auto my-auto">
        <div class="display-7 fw-normal">
          <h3>Give us a review</h3>
          <%= simple_form_for [@art, @review] do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
            <%= f.input :comment %>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
  </div>
</div>
